@model IEnumerable<UNFBusShuttle.Models.Driver>
@{
    ViewBag.Title = "Manage Drivers";
}

@section scripts {

    <script type="text/javascript">

        // Global Variables

        $(function() {

            console.log("Ready!");

            $('#drivers').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
        });

    </script>

}

    <div class="row">
        <div class="col-md-6">
            <h2>Manage Drivers</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Drivers Details
                    <a id="addNewDriver" class="btn btn-xs btn-success pull-right" href="@Url.Action("UpSertDriver", "Admin")?id=0"
                   title="Add New Driver"><i class="fas fa-plus"></i> Add Driver</a>
                </div>
                <div class="panel-body">
                    <table id="drivers" class="table table-sm table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 35px; text-align: center;">Sr. #</th>
                                <th>Driver Name</th>
                                <th>Bus Number</th>
                                <th>Email</th>
                                <th style="width: 75px; text-align: center;">Is Actve?</th>
                                <th style="width: 35px;"></th>
                                <th style="width: 45px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                            int counter = 0;

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: center;">@(++counter)</td>
                                    <td>@item.DriverName</td>
                                    <td>@item.BusNumber</td>
                                    <td>@item.Email</td>
                                    <td style="text-align: center;">
                                        @if (item.IsActive.Value == true)
                                        {
                                            <span class="badge" style="background-color: #5cb85c;">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="badge" style="background-color: #777777;">No</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-info" href="@Url.Action("UpSertDriver", "Admin")?id=@item.Id" title="Edit Driver Details">Edit</a>
                                    </td>
                                    <td class="text-center">
                                        @using (Html.BeginForm("DeleteDriver", "Admin", FormMethod.Post))
                                        {
                                            <input type="hidden" name="id" id="id" value="@item.Id" />

                                            @Html.AntiForgeryToken()

                                            <input type="submit" class="btn btn-xs btn-danger" title="Delete Driver" value="Delete"
                                                onclick="return confirm('Are you sure you want to Delete this Driver?');" />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @*<div class="panel-footer">Panel Footer</div>*@
        </div>


    </div>
</div>



